<!DOCTYPE html> <!-- Déclaration du type de document, ici HTML5 -->
{% load static %} <!-- Charge le tag 'static' de Django pour inclure des fichiers statiques -->

<html lang="en"> <!-- Début du document HTML avec la langue définie sur anglais -->
<head>
  <meta charset="UTF-8" /> <!-- Définit l'encodage des caractères en UTF-8 -->
  <title>{% block title %}LITRevu{% endblock %}</title> <!-- Bloc de titre modifiable par les templates enfants, avec une valeur par défaut "LITRevu" -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Lien vers la feuille de style CSS via le système de fichiers statiques de Django -->
  <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- Règle l'affichage responsive sur mobile -->
  <link rel="icon" href="{% static 'favicon.ico' %}">
</head>

<header>
    <h1>LITReview</h1>
</header>

<body>
  <main>
    {% block content %}{% endblock %} <!-- Bloc de contenu principal modifiable dans les templates enfants -->
  </main>
</body>
</html>